@media screen and (max-width: 800px){
    .blockA{
        height: 30%;
    }
    .blockB{
        width: 100%;
        height: 35%;

    }
    .blockC{
        width: 100%;
        height: 35%;
    }

}