.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}




.father{
    width: 50%;
    height: 100vh;
    background:cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.block1{
    width: 100%;
    height: 28%;
    background:rebeccapurple;
}
.block2{
    width: 100%;
    height: 23%;
    /*background:green;*/
    display: flex;
    justify-content: space-between;
}
.block3{
    width: 100%;
    height: 43%;
    background:darkorange;
}
.inner_block{
    width: 30%;
    height: 100%;
    background:chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}